@import "_mixins.scss";
@import "_colors.scss";

@media (max-width: 1920px) and (min-width: 769px) {
    #app {
        max-width: 1274px;
        margin: 0 auto;
    }

    ::-webkit-scrollbar {
        width: 20px;
    }

    // category

    .category {

        &__list {
            flex-wrap: wrap;
            overflow: initial;
        }

        &__item {
            margin-top: 20px;
            min-width: 168px;
            min-height: 142px;
        }
    }

    // category end

    // popular

    .popular {

        &__list {
            overflow: initial;
            flex-wrap: wrap;
        }
    }

    // popular end

    // menu

    .menu {

        &__list {
            display: flex;
            flex: none !important;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &__item {
            max-width: 500px;
            width: 100%;
        }

    }

    // menu end


    // cart

    .cart {

        padding-bottom: 0 !important;

        &__desktop {
            display: flex;
        }

        &__container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
        }

        &__list {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            margin-right: 30px;
        }

        &__item {
            max-width: 100%;
            width: 100%;

            &-img {
                max-width: 162px !important;
                max-height: 107px !important;
            }

            &-image {
                max-width: 162px !important;
                max-height: 107px !important;
            }
        }

        &__confirm {
            max-width: 430px;
        }
    }



    .cart-info {
        position: static !important;

        &__promocode {
            position: relative !important;
            width: 100% !important;
            margin-bottom: 18px;
            top: initial !important;
        }

        &__promocode-inp {
            width: 100% !important;
        }
    }

    // cart end

    // popup

    .popup {

        background-color: $background !important;
        padding: 20px !important;

        // position: fixed !important;
        .back {
            margin-top: 100px;
        }

        &__item {
            display: flex;
        }

        &__head {

            width: 582px;
            width: 100%;
            display: flex;
            position: relative;

            img {
                position: fixed;
                max-width: 432px !important;
                width: 100%;
            }
        }

        &__body {
            overflow: auto;
            max-width: 50%;
        }
        &__subtitle {
            font-size: 24px !important;
        }
        &__info {}

        &__media {
            width: 100%;
        }

        &__wrap {
            align-items: center;
            margin-bottom: 30px;
        }

        &-buy-btn {
            margin-top: 15px;
            position: static !important;
            width: 300px !important;
            left: initial;
            transform: translateX(0) !important;
        }
    }

    // popup end

    // cards

    .products__list {

        .card {
            max-width: 227px !important;
            min-width: 227px !important;

            &__image {

                img {
                    max-width: 145px !important;
                    max-height: 100px !important;
                }
            }
        }
    }

    // cards end

    // mixins

    .popular__item-title,
    .category__item-title,
    .menu__item-title,
    .menu__phone,
    .cart__item-title {
        font-size: 18px !important;
    }

    .cart__item-price {
        font-size: 16px !important;
    }

    .cart__item-weight {
        font-size: 12px !important;
    }

    // mixins end

    // category 

    .category {

        &__item {

            img {
                max-width: 80px;
            }
        }
    }

    // category end

}

@media (max-width: 985px) and (min-width: 769px) {
    .popup {
        &__head {

            img {
                max-width: 360px !important;
            }
        }
        &__counter {
            flex-direction: column;
        }
    }

}

@media (max-width: 886px) {
    .cart {

        &__confirm {
            max-width: 350px;
        }
    }
}

@media (max-width: 769px) {}

@media (max-width: 365px) {

    .header,
    .category,
    .popular,
    .about {
        padding-left: 10px !important;
    }

    .banner__item {
        margin-left: 0px;
    }

    .popular__item {
        padding: 10px !important;
        max-width: 296px !important;
        min-width: 296px !important;
    }

    .cart__item-img {
        width: inherit !important;
    }

    .menu__image {
        height: 120px !important;
    }

}

@media (max-width: 414px) {
    .products__list {
        padding-right: 20px !important;
        justify-content: space-between;

        .card {
            min-width: initial !important;
            max-width: 47% !important;
            margin-right: 0 !important;
        }
    }
}